Package: com.ryannair05.mitsuhaforever
Name: Mitsuha Forever
Depends: mobilesubstrate, preferenceloader, com.ryannair05.libmitsuhaforever (>=1.4.0), ws.hbang.alderis, firmware (>=15.0)
Replaces: io.c0ldra1n.mitsuha, io.ominousness.mitsuhaxi, me.nepeta.mitsuhainfinity, me.nepeta.mitsuhainfinity-lockscreen
Description: Universal audio visualizer for iOS
Maintainer: zSaaiq
Author: Ryan Nair, ConorTheDev, and Nepeta
Section: Tweaks
Architecture: iphoneos-arm64
Version: 2.0
Installed-Size: 860
