Package: com.ryannair05.mitsuhaforever
Name: Mitsuha Forever
Depends: firmware (>=15.0), mobilesubstrate, preferenceloader, com.ryannair05.libmitsuhaforever (>=2.0), com.ryannair05.audiosnapshotserver (>=2.3), ws.hbang.alderis
Replaces: com.ryannair05.mitsuhaforever (=1.4.1), com.ryannair05.mitsuhaforever (=1.4.2), com.ryannair05.mitsuhaforever (=1.4.3), com.ryannair05.libmitsuhaforever (=1.4.0)
Description: Universal audio visualizer for iOS
Maintainer: zSaaiq
Author: zSaaiq, Ryan Nair, ConorTheDev, and Nepeta
Section: Tweaks
Architecture: iphoneos-arm64
Version: 2.1
Installed-Size: 860
